body {
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: #eae8e7;
}

ul li a {
  text-decoration: none;
  color: #444;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
}
ul li a:hover {
  color: #039be5;
}
p {
  font-weight: 300;
  font-size: 11pt;
  line-height: 17pt;
  margin: 0;
}
span {
  opacity: 0.6;
  font-weight: 300;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  margin: 0px;
  font-weight: 400;
}
